/* esercizio 1 */

.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background-color: red;
}

/* esercizio 2 */

.ex-2-square {
    transition: 2s;
}

.ex-2-square:active {
    width: 100%;
}

/* esercizio 3 */

.ex-3-square {
    transition: 1s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* esempio 4 */

.ex-4-square {
    transition: 1s;

}

.ex-4-square:hover {
    opacity: 0;
}

/* esercizio 5 */

.ex-5-square {
    transition: 1s  ;
}

.ex-5-square:hover {
    transform: scale(200%);
}

.ex-5-square:active {
    transform: scale(50%);
}

/* esercizio 6 */

.ex-6-img:hover {
    filter: grayscale();
}

/* esercizio 7 */

.ex-7-img {
    transition: 2s;
}

.ex-7-img:hover {
    filter: sepia(70%) grayscale(50%);
    
}

/* esercizio 8 */

.ex-8-img{
    transition: 2s;
}

.ex-8-img:hover {
    filter: sepia(60%) grayscale(50%);
    border-radius: 20px;
}

/* esercizio 9  */

.ex-9-img {
    transition: 2s;
}

.ex-9-img:hover {
    filter: sepia(60%) grayscale(50%);
    border-radius: 30px;
    transform: scale(150%);
}

/* esercizio 10 */

.ex-10-icon {
    animation-name:antiorario;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}

@keyframes antiorario {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}

}

/* esercizio 11 */

.ex-11-icon:hover {
    animation-name:giroetorno;
    animation-duration: 2s;
    animation-timing-function: linear;
    
}

@keyframes giroetorno {
    0% {transform:rotate(0deg);}
    50% {transform:rotate(300deg);}
    100% {transform:rotate(0deg);}

}

/* esercizio 12 */

.ex-12-button:hover .ex-12-top-white {
    animation-name: trattinosu;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes trattinosu {
    0% {left: 10%;}
    50% {left: 70%;}
    100% {left: 10%;}

}

.ex-12-button:hover .ex-12-bottom-white {
    animation-name: trattinogiu;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes trattinogiu {
    0% {right: 20%;}
    50% {right: 70%;}
    100% {right: 20%;}
}

/* esercizio 13 */

.ex-13-button:hover .ex-13-top-white {
    animation-name: trattinosugiro;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes trattinosugiro {
    0%{left: 10%; }
    25%{left: 70%;}
    50%{left: 70%; top: 10%;}

}


